<%include ../partials/header%>

<div class="container">
	<header class="jumbotron banner" id='lol-image' style='margin-bottom: 0;'>
		<div class="container" >
			<p>
				<a href="/recruit/new" class="btn btn-primary btn-lg">Recruit a teammate</a>
			</p>
		</div>
		
	</header>
	<%include filter%>
	<div class="row text-center" style="display:flex; flex-wrap:wrap;">
		<%recruits.forEach(function(recruit){%>
			<div class="col-md-2 col-sm-4" >
				<div class="thumbnail" style='background-color: rgb(197, 250, 240); border: 2px solid; border-radius: 25px'>
					<img src="/lol/emblems/Emblem_<%=recruit.rank%>.png">
					<div class='row'>
						<%recruit.position.forEach(function(pos){%>
							<img class='col-md-3 col-sm-3' src="/lol/positions/Position_<%=recruit.rank%>-<%=pos%>.png">
						<%});%>
					</div>
					<div class="caption">
						<h4><%=recruit.queue%></h4>
						<h4><%=recruit.user.username%></h4>
					</div>
					<p>
						<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal_<%=recruit._id%>">
							Info
						</button>
						<div class="modal fade" id="modal_<%=recruit._id%>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
					  		<div class="modal-dialog" role="document">
					    		<div class="modal-content">
						      		<div class="modal-header">
						       			<h5 class="modal-title" id="exampleModalLabel"><%=recruit.user.username%></h5>
						        		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						         		 	<span aria-hidden="true">&times;</span>
						        		</button>
						      		</div>
					      				<div class="modal-body">
					        			<p style="text-align: left">	
					        				<strong>Looking for: </strong> <%=recruit.number%>
					        				<br>

					        				<strong>Rank: </strong> <%=recruit.rank%>
					        				<br>
					        				<strong>Queue: </strong> <%=recruit.queue%>
					        				<br>
				        					<strong>Positions: </strong> <%=recruit.position%>
				        					<br>
				        					<strong>Description: </strong> <%=recruit.description%>

					        			</p>
					      			</div>
						      		<div class="modal-footer">
						      			<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
						      			<form>	
											<button type="button "class="btn btn-primary" id="button_<%=recruit._id%>">Apply</button>
						      			</form>
						        		
						        		
						      		</div>
					    		</div>
					  	    </div>
					    </div>
					</p>
				</div>
				
				
			</div>
		<%});%>
	</div>
	<%include pageControl%>


	
</div>



<%include ../partials/footer%>